<?xml version="1.0" encoding="utf-8"?>
<!--
	@file packages.config
	@brief Functionalities required to operate it.
	@author Sergey Slepokurov (sergey@heddoko.com)
	@date 11 2016
	Copyright Heddoko(TM) 2017,  all rights reserved
-->
<packages>
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="xamarinios10" />
</packages>